In [ ]:
map

# Las funciones lambda y map en Python

Vamos a ver la funcion integrada [map](https://docs.python.org/3/library/functions.html#map)

Y la función [lambda](hhttps://ellibrodepython.com/lambda-python)


`lambda` es una forma de definir pero en un renglón.

In [7]:
def cuadrado(x): #Esto es para definir el cuadrado de un número de manera global, esto es función map
    return x**2

In [6]:
cuadrado (5)

25

In [8]:
lambda x: x**2   #La función lambda es una función que está integrada, se puede usar esa función solo dentro de este código

In [11]:
x=[1,2,3,4]
lambda x: x**2    #voy a poner una lista y pongo el valor de x, entonces seguirá siendo esa lista
x

[1, 2, 3, 4]

In [12]:
I=[1,2,3,4]
lambda x: x**2   #le cambié a I de indíces
I

[1, 2, 3, 4]

In [20]:

z= lambda x: x**2   #vamos a llamarle z, aquí establecí mi función

In [21]:
z(5) #aquí me dió mi resultado

25

In [28]:
import math
y = lambda x: math.sqrt(x)   #aquí quise poner la raíz cuadrada pero tuve que usar la funcion import math

In [29]:
y(144)

12.0

In [30]:
res = list(map(z, I)) #aquí tengo una variable que contiene la función de volver al cuadrado y después de la coma voy a poner los elementos que quiero elevar al cuadrado
print(res)

[1, 4, 9, 16]

In [32]:
I=[1,2,3,4]             #Aquí puedo poner todo en un código: definir variables, definir z y así. Entonces ya tengo mi función global
z= lambda x: x**2

res = list(map(z, I))
print(res)

[1, 4, 9, 16]

In [33]:
res = list(map(cuadrado, I))  #lo hace en una lista
print(res)

[1, 4, 9, 16]

In [34]:
res = set(map(cuadrado, I))  #lo hace en un conjunto
print(res)

{16, 1, 4, 9}

In [35]:
list(map(lambda x:x**2,I)) #puedo poner eso y me da lo mismo

[1, 4, 9, 16]

#Ya que vimos eso, ahora daremos 5 ejemplos de las funciones

1,2,3 son `map`
4,5 `lambda`

In [37]:
palabras = ["hola", "mundo", "python"] #aquí lo uso para convertir strings a mayusculas
mayusculas = list(map(str.upper, palabras))
print(mayusculas)

['HOLA', 'MUNDO', 'PYTHON']

In [38]:
a = [1, 2, 3] #para sumar números de 2 cadenas
b = [4, 5, 6]
suma = list(map(lambda x, y: x + y, a, b))
print(suma)

[5, 7, 9]

In [40]:
palabras = ["gato", "elefante", "perro"] #longuitudes en palabras
longitudes = list(map(len, palabras))
print(longitudes)

[4, 8, 5]

In [41]:
es_par = lambda num: num % 2 == 0 #para saber si es par
print(es_par(4))  # Salida: True
print(es_par(7))  # Salida: False

True
False

In [42]:
multiplicar_por_dos = lambda x: x * 2
print(multiplicar_por_dos(5))  # Salida: 10, multiplica por 2

10